body {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: Arcade;
    src: url("../fonts/ARCADE.TTF");
}

@font-face {
    font-family: Arcadepix;
    src: url("../fonts/ARCADEPIX.ttf");
    font-weight: 400;
}

.fontArcade{
    font-family: Arcade;
    position: absolute;
    font-size: 4rem;
}

.fontArcadepix{
    font-family: Arcadepix;
    position: absolute;
    font-size: 4rem;
}

#home {
    background-color: #d3d3d3;
    height: auto;
    width: 100%;
    font-family: Arcadepix;
    text-align: center;
    font-size: 6rem;
}

#home h1 {
    margin-top: 2rem;
    color: black;
}

#start {
    font-family: Arcadepix;
    text-align: center;
    font-size: 4rem;
    border-radius: 5%;
    color: black;
    background-color: #d3d3d3;
}

#start:hover {
    background-color: black;
    color: #d3d3d3;
}