/*--------------------------------------------General*/
body {
    margin: 0;
    padding: 0;
}


@font-face {
    font-family: Arcadepix;
    src: url("../fonts/ARCADEPIX.ttf");
    font-weight: 400;
    font-display: swap;
}


.fontArcadepix{
    font-family: Arcadepix;
    position: absolute;
    font-size: 4rem;
}

/*--------------------------------------------Homepage*/
#home {
    background: url("../images/snake-screenshot.png");
    background-position: center;
    background-repeat: no-repeat;
    background-color: #d3d3d3;
    height: auto;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: Arcadepix;
    text-align: center;
    font-size: 6rem;
    text-transform: uppercase;
}

#home h1 {
    margin-top: 2rem;
    color: #000000;
}

.btn {
    font-size: 5rem;
    border-radius: 5%;
    color: #000000;
    background-color: #d3d3d3;
}

.btn:hover {
    background-color: #000000;
    color: #d3d3d3;
}

.user {
    font-size: 3.5rem;
}

#username {
    font-size: 2rem;
    font-family: Arcadepix;
    text-transform: uppercase;
}

#saveButton {
    font-size: 2rem;
    font-family: Arcadepix;
    text-transform: uppercase;
}

/*--------------------------------------------Media Query*/

@media (min-width: 280px) and (max-width: 400px) {

    #home {
        font-size: 3rem;
    }

    #home h1 {
        margin-top: 1rem;
    }

    .btn {
        margin-top: 2rem;
        font-size: 3rem;
    }

    #desktop {
        font-size: 2rem;
        margin-top: 4rem;
    }
}

@media (min-width: 400px) and (max-width: 575px) {

    #home {
        font-size: 4rem;
    }

    #home h1 {
        margin-top: 1rem;
    }

    .btn {
        margin-top: 2rem;
        font-size: 3rem;
    }

    #desktop {
        font-size: 2rem;
        margin-top: 4rem;
    }
}